<!DOCTYPE html>
<html>

    <%= render 'partials/header' %>


  <body>
  <%= render 'partials/head' %>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
    <%= yield %>
  </body>
  
</html>
